node_modules
npm-debug.log
yarn-error.log
logs
*.log
.git
.gitignore
.env.local
.env.development
.env.test
.env.production
Dockerfile*
docker-compose*.yml
dist
storage/**
!storage/
__tests__
*.spec.ts
*.test.ts
coverage