APP_NAME="Warehouse Management System"
NODE_ENV=development
APP_URL=http://localhost:5173
PORT=3000

DB_TYPE=postgres
DB_NAME=warehouse_management_system
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=

JWT_ACCESS_TOKEN_SECRET=default_secret
JWT_REFRESH_TOKEN_SECRET=default_secret
JWT_ACCESS_TOKEN_EXPIRES=15m
JWT_REFRESH_TOKEN_EXPIRES=30d

EMAIL_VERIFY_SECRET=default_secret
EMAIL_VERIFY_EXPIRES=15m

CLIENT_URLS=http://localhost:5173

MAIL_DELIVERY_TYPE=smtp

# For SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@example.com
MAIL_PASS=your_app_password

# For API
MAIL_PROVIDER=
MAIL_API_KEY=

MAIL_FROM="My App <no-reply@myapp.com>"

FILE_STORAGE=local
FILE_PUBLIC_URL=http://localhost:3000/storage